body {
  max-width: 1000px;
  background-color: #7C9CB4;
  font-family: 'Luckiest Guy', cursive;
  color: #1C4665;
}

header {
  background-color: #E99878;
  border: 2px dashed #FFEAAA;
  border-radius: 5px;
  width: 800px;
  margin: 0 auto;
}

button {
  display: block;
  margin: 20px auto;
  background: #9D4724;
  border-radius: 5px;
  color: #FFF3D0;
  padding: 20px;
}

footer {
  background-color: #E9CD78;
  border: 2px dashed #C16A47;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

table {
  width: 75%;
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  width: 100px;
  text-align: center;
  border: 1px solid #E99878;
  padding: 5px;
}

.headerText {
  text-align: center;
  padding: 10px 20px 5px 10px;
}

.images {
  overflow: auto;
  width: 100%;
}

.productImage {
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px 4px #FFC2AA;
  float: left;
  margin: 50px 10px 50px 20px;
  border-radius: 3px;
}

.randomImage {
  display: block;
  margin: 0 auto;
  max-width: 98%;
  max-height: 98%;
  border-radius: 3px;
}

.footerText {
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

#dog-duck {
  margin-top: 50px;
}

#sweep {
  margin-top: 48px;
}

#pen {
  margin-top: 63px;
}

#breakfast {
  margin-top: 30px;
}

#tauntaun {
  margin-top: 26px;
}

#scissors {
  margin-top: 37px;
}

#wine-glass {
  margin-top: 12px;
}

#bag {
  margin-top: 4px;
}

#unicorn {
  margin-left: 21px;
}

#chair {
  margin-top: 37px;
}

#dragon {
  margin-left: 50px;
}

#shark {
  margin-top: 55px;
}

#pet-sweep {
  margin-top: 22px;
}

#productList {
  column-count: 2;
  column-gap: 20px;
  list-style-type: none;
}

#clickResultsChartDiv {
  height: 400px;
  width: 800px;
  padding: 5px;
  margin: 20px auto;
  background-color: #FFDDD0;
  border: 2px solid #335C7C;
}

#clickResultsDoughnutChartDiv {
  height: 400px;
  width: 800px;
  padding: 5px;
  margin: 20px auto;
  background-color: #FFDDD0;
  border: 2px solid #335C7C;
}

#tableTitle {
  text-align: center;
}
