body {
  background-color: red;
}

header {
  background-color: violet;
  width: 600px;
  margin: 0 auto;
}

button {
  display: block;
  margin: 20px auto;
}

footer {
  background-color: orange;
  width: 600px;
  margin: 0 auto;
}

.headerText {
  text-align: center;
}

.images {
  overflow: auto;
  width: 100%;
}

.productImage {
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px 4px green;
  float: left;
  margin: 50px 30px 50px 80px;
}

.randomImage {
}

.footerText {
  text-align: center;
}

#dog-duck {
  margin-top: 50px;
}

#sweep {
  margin-top: 48px;
}

#pen {
  margin-top: 63px;
}

#breakfast {
  margin-top: 30px;
}

#tauntaun {
  margin-top: 26px;
}

#scissors {
  margin-top: 37px;
}

#wine-glass {
  margin-top: 12px;
}

#bag {
  margin-top: 4px;
}

#unicorn {
  margin-left: 21px;
}

#chair {
  margin-top: 37px;
}

#dragon {
  margin-left: 50px;
}

#shark {
  margin-top: 55px;
}

#pet-sweep {
  margin-top: 22px;
}

#productList {
  column-count: 2;
  column-gap: 20px;
  list-style-type: none;
}

#clickResultsChartDiv {
  height: 300px;
  width: 600px;
  margin: 0 auto;
  background-color: white;
}
